<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/usertype.css">
    <title>UserType</title>
</head>
<body>

<h1>USERTYPE</h1>
<form th:action="@{/buss/admin}" th:method="get">
    <button class="admin-button" type="submit">ADMIN</button>
</form>
<form th:action="@{/buss/user}" th:method="get">
    <button class="user-button" type="submit">USER</button>
</form>


</body>
</html>